<div class="input-wrapper">
    <input id="{{ id }}" class="input" placeholder="{{ placeholder }}" type="{{ type }}"></input>
    <label for="{{ id }}" class="placeholder">{{ placeholder }}</label>
</div>
