<div class="input-profile-wrapper">
    <input id="{{ id }}" class="input" placeholder="{{ placeholder }}" type="{{ type }}" value="{{ value }}"></input>
    <label for="{{ id }}" class="placeholder">{{ placeholder }}</label>
</div>
